<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827821855360-rj254bb2v3lru7eoc7j56m60gmeit62c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827821855360-rj254bb2v3lru7eoc7j56m60gmeit62c</string>
	<key>API_KEY</key>
	<string>AIzaSyCsZ3bvB-3PNR2u-hSY-CEhKr-lDhewQN4</string>
	<key>GCM_SENDER_ID</key>
	<string>827821855360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.svaDhruthi</string>
	<key>PROJECT_ID</key>
	<string>sampann-37878</string>
	<key>STORAGE_BUCKET</key>
	<string>sampann-37878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827821855360:ios:f6e802d72a4d7c0973cc65</string>
</dict>
</plist>